<div class="col-sm-6 styleContent text-center">
  <div class="card-body">
    <h1 class="card-title text-center text-white font title">YOU WON!!</h1>
    <h5 class="text-center text-white font">{{ winData.name }}</h5>
    <h2 class="text-center text-white font">
      <p>Score:</p>
      {{ winData.score }}
    </h2>
    <a (click)="home()" class="btn btn-danger border border-white p-4"
      >FINISH</a
    >
    <a (click)="game()" class="btn btn-primary border border-white p-4"
      >TRY AGAIN</a
    >
  </div>
</div>
