<div class="container styleContent text-center">
    <div class="row">
        <div class="card border-info bg-transparent" style="width: 18rem">
            <div class="card-body">
              <h2 class="card-title">¡¡YOU WIN!!</h2>
              <h5>{{winData.name}}</h5>
              <h4>Score: {{winData.score}}</h4>
              <a (click) = "home()" class="btn btn-danger border border-white">FINISH</a>
              <a (click) = "game()" class="btn btn-primary border border-white">TRY AGAIN</a>
            </div>
          </div>
    </div>
</div>
