.btn {
    margin-top: 20px;
    padding: 7px 30px 7px 30px;
    font-size: 30px;
}

.home_title {
    font-size:100px;
}

.margin {
    display: flex;
    flex-direction: column;
    margin: 100px 25%;
}