<h1 class="card-title text-center text-white font title-main">Guess Who?</h1>
<div class="card-container animate__animated animate__bounce">
  <div class="col">
    <div
      class="card"
      *ngFor="let character of characters"
      (click)="flipCardPhoto(character.id)"
    >
      <div class="card-inner" [ngClass]="{ rote: (character.id === idPhoto ) }">
        <div class="card-front">
          <h1 class="title font tq">?</h1>
        </div>
        <div class="card-back">
          <img
            src="../../assets/{{ character.name }}.jpeg"
            class="card-img-top character-img"
            alt="..."
          />
        </div>
      </div>

    </div>
  </div>
  <div class="col">
    <div
      class="card"
      *ngFor="let name of names"
      (click)="flipCardName(name.id)"
    >
      <div class="card-inner" [ngClass]="{ rote: (name.id === idName && flag == false) }">
        <div class="card-front">
          <h1 class="title font">name</h1>
        </div>
        <div class="card-back">
          <h2 class="name">{{ name.name }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container-check text-center my-5  animate__animated animate__backInUp" *ngIf="restart == true">
    <button class="btn btn-success" (click)="restarGame()">Restart</button>
  </div>

</div>
